h1 {
  color: white;
  padding-top: 41px;
  font-weight: bold;
}

h2 {
  color: white;
  margin-top: -13px;
  margin-bottom: 70px;
  font-size: 25px;
}

section.video {
  padding: 0;
  margin-top: 9px;
}

.nav-pills {
  margin-top: 9px;
}

.nav-pills > li > a {
  padding: 19px 15px;
  height: 57px;
  color: #0e0e0e;
  text-decoration: none;
  border-radius: 0px;
  background-color: #ac2c30;
  border-left: 1px solid #0e0e0e;
  font-weight: bold;
}

.nav>li.disabled>a {
    color: #fff;
}

.nav>li>a>span.glyphicon {
  margin-right: 3px;
}

.nav-pills > li.first > a {
  border-left: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #383737;
}

.week .btn {
  margin: 0 auto;
  display: block;
  height: 65px;
  width: 593px;
  font-size: 28px;
}

@media screen and (max-width: 768px) {

  .weel h2 {
    font-size: 15px;
    margin-top: -10px;
  }

  .week h1 {
    font-size: 17px;
  }

  .navbar-header {
    background-color: black;
    border-top: 1px solid black;
  }

  .navbar-toggle span {
    background: white;
  }

  .nav-pills {
    margin-top: 0;
  }

  .side-collapse {
    position: relative;
    overflow: hidden;
    -webkit-transition: height .4s;
    -o-transition: height .4s;
    transition: height .4s;
    margin: 0 -15px;

  }
  .side-collapse.in {
      height:0;
  }
}

.week header {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/***REMOVED***.appspot.com/o/bg-workshop.jpg?alt=media&token=859bc49f-7d49-4b07-a52f-c20dd5bdb5cd);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.week .menu {
  margin-top: 40px;
}
