.about h3 {
  margin-top: 0;
}

.about p {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #525252;
  margin-bottom: 25px;
  line-height: 1.42;
  margin-bottom: 10px;
}

.about img {
  margin-top: 24px;
}

.about section {
  padding: 100px 0;
}
