.book-description {
  margin-top: 39px;
}

.book-description section {
  padding: 20px 0;
}

.author-description h3 {
  margin-top: 0;
}

.book-description h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.modal-header {
  background-color: #d9534f;
}

.modal-header h4 {
  text-align: center;
  font-size: 26px;
  color: white;
}

.modal-footer p {
  text-align: center;
}

.modal-body {
  padding: 45px 55px;
}

.form-group button {
  width: 100%;
}

#step-2 {
  padding-top: 20px;
}

.form-group label {
  width: 60%;
  float: right;
  text-align: right;
  font-size: 21px;
  font-weight: 300;
  color: #587581;
  margin: 5px;
  margin-bottom: 5px;
}

.text-step {
  font-size: 30px;
  font-weight: bold;
  color: #acc4cd;
  text-transform: uppercase;
}

.text-step2 {
  font-size: 30px;
  font-weight: bold;
  color: #234668;
  text-transform: uppercase;
}

.author-description p, .book-description p {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #525252;
  margin-bottom: 25px;
  line-height: 1.42;
  margin-bottom: 10px;
}

.header a {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header a span {
  font-size: 12px;
  color: #7aa0e2;
}

.ebook-footer .yt-button {
  padding: 39px;
}

.ebook-footer .fb-like {
  padding: 15px;
}

section {
  padding: 40px 0;
}

.about {
  background-color: rgb(239, 239, 239);
}

.about img {
  margin-top: 24px;
}

.navbar {
  margin-bottom: 0;
}
